{% extends "base.html" %}

{% block headers %}
  <title>{{ causerie.title | capitalize }}</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-header">
        <h1>
          <a href="/">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true">
            </span>
          </a>
          {{ causerie.title | capitalize }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if causerie.posts.length %}
          {% for post in causerie.posts %}
            <p>
              {{ post.content }}
              <br/><small>{{ post.author }}</small>
            </p>
          {% endfor %}
        {% else %}
          <h2 style="text-align: center">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true">
            </span><br/>
            (No post.)
          </h2>
        {% endif %}
      </div>
      <div class="col-md-6">
        <form method="post" action="/causerie/{{ causerie.slug }}">
          {{ postForm | safe }}
          <input class="btn btn-success pull-right" type="submit" value="Done">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
